/*login*/
.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.loginForm {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 90%;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

/*error message*/
.textDanger {
  color: red;
  text-align: center;
}

.label {
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}
