:root {
  --black: #000000;
  --neonBlue: #4470fe;
  --cornFlowerBlue: #7899ff;
  --frenchGray: #d0d5db;
  --antiFlashWhite: #f4f5f7;
  --white: #ffffff;
  --imperialRed: #ec4547;
  --mint: #2cb37e;

  --standardTitlesSize: 25px;
  --standardTextSize: 20px;
}

body {
  background-color: var(--antiFlashWhite);
}

.wrapper {
  width: 96vw;
  margin: 0 auto;
}

/*table*/
.tableContainer {
  width: 98vw;
  margin: 0 auto;
  border-radius: 10px;
  border: 2px solid var(--frenchGray);
  background-color: var(--white);
}

/*header*/
header {
  width: 100%;
  height: 60px;
  background-color: var(--white);
  border-bottom: 2px solid var(--frenchGray);
  padding: 0px 20px 0 20px;
}

.header__imgIcon {
  width: 50px;
  height: 50px;
  /*background-image: url(../images/TaskM_light.png);*/
  background-repeat: no-repeat;
  background-size: cover;
}

.header__Title {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
}

/*taskM logo*/
.header__Title h1 {
  height: 100%;
  width: fit-content;
  line-height: 50px;
  font-size: 40px;
  font-weight: bold;
  margin: 0px 5px 0 0px;
  color: var(--neonBlue);
}

h2 {
  height: 100%;
  width: fit-content;
  line-height: 50px;
  margin: 0px 0px 0px 40px;
}

/*buttons*/
.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 8px 10px 20px 10px;
}

.addButton {
  width: 160px;
  height: 35px;
  line-height: 120%;
  font-weight: bold;
}

.searchContainer {
  display: flex;
  border: 2px solid var(--frenchGray);
  border-radius: 10px;
  width: 350px;
}

.searchInput {
  height: 35px;
}

.searchButton {
  width: 90px;
  height: 35px;
  line-height: 50%;
  font-weight: bold;
}
