.filterContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}

.filterIcon {
  color: var(--cornFlowerBlue);
}

.p {
  margin: 0;
  padding-right: 5px;
}

.filterIcon:hover {
  cursor: pointer;
}

.editButton {
  color: #2cb37e;
}

.deleteButton {
  color: #ec4547;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}
